{% extends "layout.html" %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{serviceName}} prototype
      </h1>

      <p>This is the first prototype version for a landing page for a user. Research has show that some users might need signposting to tasks and this landing page hopes to answer that need.</p>

      <ul class="list list-bullet">
        <li><a href="landing">Version 1</a> &ndash; similar to GOV.UK landing page with a large header and then content broken into sections</li>
        <li><a href="accordion">Version 2</a> &ndash; more stripped down header and uses accordion to make content potentially more scanable, helping the user get to the thing they need quicker</li>
      </ul>






      <p class="form-hint" style="margin-top: 60px">Built using {{releaseVersion }} of the GOV.UK prototype kit.</p>

    </div>
  </div>
</main>

{% endblock %}
